.text {
	color: #E42923;
	font-size: 12px; 
	font-family: TerpelSans-Bold;
}

.cargo{
	color: #616161;
	font-size: 11px;	
	font-family: TerpelSans-Black;

}

#firma{
	color: #616161;
	font-size: 9px;
	font-family: TerpelSans-Bold;
}

p{
	color: #616161;
	font-size: 6px;
	font-family: TerpelSans-Bold;
}

@font-face {
	font-family: TerpelSans-Black;
	src: url(Fuentes/TerpelSans-Black.ttf);
	
}

@font-face {
	font-family: TerpelSans-Bold;
	src: url(Fuentes/TerpelSans-Bold.ttf);
	
}
